@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Quicksand:wght@300;400&family=Special+Elite&display=swap');
/*Misty Blue #81ABBC - Olive Green #4D5E38 - White #F1F3F3 - Puce #403A2C*/


/**blue: #00aab7*/
:root {
  --white: #ffffff;
  --black: #031116;
  --gray: #759195; 
  --dgray: #5C7C83; 
  --yellow: #e9a901;
  --dyellow: #A16C0D;
  --red:#E63D3D;
  --dred:#D62F2F;
  --blue: #00aab7;
  --dblue: #32818E;
  --green: #37c885;
  --dgreen: #2A865D;
}

.red {background-color: var(--red) !important;}
.dred {background-color: var(--dred) !important;}
.yellow {background-color: var(--yellow) !important;}
.dyellow {background-color: var(--dyellow) !important;}
.gray {background-color: var(--gray) !important;}
.dgray {background-color: var(--dgray) !important;}
.blue {background-color: var(--blue) !important;}
.dblue {background-color: var(--dblue) !important;}
.green {background-color: var(--green) !important;}
.dgreen {background-color: var(--dgreen) !important;}
.white {background-color: var(--white) !important;}


.redT {color: var(--red);}
.dredT {color: var(--dred);}
.yellowT {color: var(--yellow);}
.dyellowT {color: var(--dyellow);}
.grayT {color: var(--gray);}
.blueT {color: var(--blue);}
.dblueT {color: var(--dblue);}
.greenT {color: var(--green);}
.dgreenT {color: var(--dgreen);}
.whiteT {color: var(--white) !important;}

.redBorder {color: var(--dred) !important; border: var(--dred) 1px solid !important;}
.yellowBorder {color: var(--dyellow)!important; border: var(--dyellow) 1px solid !important;}
.grayBorder {color: var(--dgray)!important; border: var(--dgray) 1px solid !important;}
.blueBorder {color: var(--dblue)!important; border: var(--dblue) 1px solid !important;}
.greenBorder {color: var(--dgreen)!important; border: var(--dgreen) 1px solid !important;}

.t-elite{font-family: 'Special Elite', 'Courier New', Courier, monospace;}
.t-abo{font-family: 'Aboreto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;}

* {box-sizing: border-box;}
p { -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}

body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif !important;
  font-weight: 300 !important;
  background-color: var(--wite);
  color: var(--black);
  text-align: center !important;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
main{ min-height: 100vh !important;}

h1,h2,h3,h4,h5,h6{font-family: 'Aboreto',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h1{margin-top: 2vh;}

a {color: inherit !important; text-decoration: none;}

hr{color: var(--lgray);}

button {width: 80%; color: inherit !important; font-size: 18px;}

::placeholder {color: var(--white) !important; opacity: 1 !important;}
:-ms-input-placeholder { color: var(--white) !important; }
::-ms-input-placeholder { color: var(--white)  !important; }

.shadow{
  -webkit-box-shadow: 0px 0px 41px 31px var(--black) !important;
  -moz-box-shadow: 0px 0px 41px 31px var(--black) !important;
  box-shadow: 0px 0px 15px 0px var(--black) !important;
}

.shadowR{
  -webkit-filter: drop-shadow(0px -5px 8px var(--black));
  filter: drop-shadow(0px -5px 8px var(--black));
}

.lock-height{height: 100vh; overflow: hidden;}

.bHome, .bLoc {
  position: fixed;
  height: min-content;
  width: min-content;
  padding: 0px;
  z-index: 2;
 }
 .bHome, .bLoc{ bottom: 4vw; right: 2vw ;}
.bScan{max-width: min-content;}

 .bHome:focus, .bHome:active,.bScan:focus, .bScan:active, .bLoc:focus, .bLoc:active,
 input:focus,.input:focus{outline: none !important; box-shadow: none !important; background-color: transparent !important;}

 .bHome svg,.bScan svg, .bLoc svg {
  background-color: rgba(225, 225, 225, 0.8);
  height: 35px;
  width: 35px;
  border-radius: 5px;
  border: 0.5px solid var(--white);
 }
 
.bScan svg{height: 45px; width: 45px;}
.bBack svg{padding: 2px; height: 35px; width: 35px;}
.bBack{ 
  position: fixed;
  bottom: 0; left: 0 ; 
  width: 100vw;
  z-index: 5; display: flex; 
  border-radius: 5px;
  border: 0.5px solid var(--gray);
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white) !important;
}

.toast{position: absolute; top:20px; z-index: 3; width: 90vw !important; margin: auto 5vw;}

/*CIRCLE*/
.cyellow{
  width: 90vw;
  height: 90vw;
  border-radius: 100%;
  top: -5%;
  right: -12%;
  position: absolute;
  background: radial-gradient(circle, var(--yellow) 0%, var(--yellow) 68%, var(--dyellow) 100%);
}

.cred{
  width: 65vw;
  height: 65vw;
  border-radius: 100%;
  top: 15%;
  left: -12%;
  position: absolute;
  background: radial-gradient(circle, var(--red)  0%, var(--red) 65%, var(--dred) 100%);
}

.cblue{
  width: 90vw;
  height: 90vw;
  border-radius: 100%;
  top: 14%;
  right: -12%;
  position: absolute;
  background: radial-gradient(circle, var(--blue) 0%, var(--blue) 65%, var(--dblue) 100%);
}

.cgreen{
  width: 100vw;
  height: 100vw;
  border-radius: 100%;
  top: -8%;
  left: -13%;
  position: absolute;
  background: radial-gradient(circle, var(--green) 0%, var(--green) 68%, var(--dgreen) 100%);
}

.cgray{
  width: 90vw;
  height: 90vw;
  border-radius: 100%;
  top: 15%;
  left: 15%;
  position: absolute;
  background: radial-gradient(circle, var(--gray) 0%, var(--gray) 68%, #5a6e70 100%);
}

/*MAP*/
.leaflet-container {
  width: 100vw;
  height: 102vh;
}
.leaflet-container *{
  font-family: 'Special Elite', Arial, Helvetica, sans-serif !important;
}

/*PUZZLE*/
.puzzle-container{
  max-width: 95vw !important;
  max-height: 85vh !important;
  margin: 0 auto !important;
}
.jigsaw-puzzle__piece{
  filter: grayscale(50%);
}  
.jigsaw-puzzle__piece--solved {
  filter: grayscale(0%);
  border: none !important;
}